<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hito1">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VentanaModificarVehiculosGUI"></activity>
        <activity android:name=".VentanaCreacionVehiculosGUI" />
        <activity android:name=".VentanaDeVehiculoGUI" />
        <activity android:name=".VentanaModificacionServiciosGUI" />
        <activity android:name=".VentanaDeCreacionServiciosGUI" />
        <activity android:name=".VentanaModificarEncargadoGUI" />
        <activity android:name=".VentanaDeVehiculosGUI" />
        <activity android:name=".VentanaIngresoDatosEncargadoGUI" />
        <activity android:name=".VentanaIngresoGUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>